<div class="body-content">
  <div class="body-box">
  <h2 class="h2-box">ログインページ</h2>
  <p>登録情報を入力してください。</p>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table class="table">
    <tbody>
  <div class="field">
    <tr>
      <td><%= f.label :name, "ニックネーム" %></td>
    </tr>
    <tr>
      <td><%= f.text_field :name, autofocus: true, autocomplete: "name", class: "regist-box" %></td>
    </tr>
  </div>

  <div class="field">
    <tr>
      <td><%= f.label :password, "パスワード" %></td>
      </tr>
      <tr>
      <td><%= f.password_field :password, autocomplete: "off", class: "regist-box" %></td>
    </tr>
  </div>

  <% if devise_mapping.rememberable? -%>
  <tr>
    <div class="field">
      <td><%= f.check_box :remember_me %>
          <%= f.label :remember_me, "保存する" %></td>
    </div>
  </tr>
  <% end -%>
  </tbody>
</table>

  <div class="login-box">
  <div class="actions">
    <%= f.submit "ログイン", :class => "btn btn-primary"  %>
  </div>
<% end %>

  </div>
  </div><br>
  <%= render "users/shared/links" %>
</div>