<div class="body-content">
  <div class="container-fluid main-content">
      <div class="row">
        <div class="col-sm-4">
          <h3 class="h3">ユーザー情報</h3>
          <%= attachment_image_tag @user, :user_image, :fill, 130, 130, fallback: "human.png", size: '130x130' %>
          <table class="table">
            <tbody>
              <tr>
                <td class="breakall">ニックネーム</td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td>年齢</td>
                <td><%= @user.age %>歳</td>
              </tr>
              <tr>
                <td>性別</td>
                <td><%= @user.sex_i18n %></td>
              </tr>
               <tr>
                <td class="breakall">好きな飲み物</td>
                <td><%= @user.favorite %></td>
              </tr>
            </tbody>
          </table>
          <%= render 'follow_form' %>
          <%= render 'stats' %>
          <% if @user.id == current_user.id %>
          <div class="button-area clearfix">
            <%= link_to "編集する", edit_user_path(@user), class: "btn btn-info btn-lg user-button" %>
            <%= link_to "退会する", user_path(@user), method: :delete, data: { confirm: '本当に退会しますか？' }, class: "btn btn-danger btn-lg user-button" %>
          </div>
           <%= link_to "パスワードを変更する", user_password_edit_path(@user) %>
          <% end %>
        </div>
          <div class="col-sm-8">
          <h3 class="h3">過去のレビュー(5件)</h3>
          <div class="review-index">
      <% @reviews.each do |review| %>
      <table>
        <tbody>
          <tr>
            <td><%=link_to review.item.title, item_path(review.item.id) %></td>
          </tr>
          <tr>
            <td><%= attachment_image_tag review.item, :item_image, :fill, 80, 80, fallback: "drink.png", size: '80x80' %></td>
          </tr>
          <tr>
            <td>
           <div class="star-rating-show">
                <% if review.star5 < 1.5 %>
                    <div class="star-rating-front-show" style="width: 20%">★★★★★</div>
                <% elsif review.star5 < 2 %>
                    <div class="star-rating-front-show" style="width: 30%">★★★★★</div>
                <% elsif review.star5 < 2.5 %>
                    <div class="star-rating-front-show" style="width: 40%">★★★★★</div>
                <% elsif review.star5 < 3 %>
                    <div class="star-rating-front-show" style="width: 50%">★★★★★</div>
                <% elsif review.star5 < 3.5 %>
                    <div class="star-rating-front-show" style="width: 60%">★★★★★</div>
                <% elsif review.star5 < 4 %>
                    <div class="star-rating-front-show" style="width: 70%">★★★★★</div>
                <% elsif review.star5 < 4.5 %>
                    <div class="star-rating-front-show" style="width: 80%">★★★★★</div>
                <% elsif review.star5 < 5 %>
                    <div class="star-rating-front-show" style="width: 90%">★★★★★</div>
                <% else %>
                    <div class="star-rating-front-show">★★★★★</div>
                <% end %>
                    <%# 黒い★ %>
                    <div class="star-rating-back">★★★★★</div>
            </div>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="review-review"><%= review.item_review %></p>
      <% end %>
    </div>
          </div>
    </div>
</div>
</div>