<div class="body-content">
  <div class="container-fluid main-content">
    <h2 class="h2">商品の新規追加</h2>
    <div class="row">
    	<%= form_for(@item) do |f| %>
           	<%= f.hidden_field :admin_id, :value => @admin %>

			<div class="item-form-box">
			<%= f.label :item_image, "飲み物画像" %><br>
			<div class="gazou">
			<%= f.attachment_field :item_image, placeholder: "画像のアップロード" %>
			</div>
			<div class="field">
			<%= f.label :title, "飲み物名" %><br>
			<%= f.text_field :title, class: "item-form" %><br>
			</div>
			<div class="field">
			<%= f.label :age, "発売日" %><br>
			<%= f.text_field :age, class: "item-form" %><br>
			</div>
			<div class="field">
			<%= f.label :maker_id, "メーカー" %><br>
			<%= f.collection_select(:maker_id, Maker.all, :id, :maker_name) %><br>
			</div>
			<div class="field">
			<%= f.label :category_id, "カテゴリ" %><br>
			<%= f.collection_select(:category_id, Category.all, :id, :category_name) %><br>
			</div>
			<div class="field">
			<%= f.label :price, "参考価格(1本あたり)" %><br>
			<%= f.number_field :price, class: "item-form" %><br>
			</div>
			<div class="field">
			<%= f.label :url, "商品URL(amazon)" %><br>
			<%= f.text_field :url, class: "item-form" %><br>
			</div>
			<div class="field">
			<%= f.label :comment, "説明" %><br>
			<%= f.text_area :comment, class: "item-form" %><br>
			</div>
 			<div class="button-area item-button">
          	<%= f.submit "　登　録　", class: "btn btn-lg btn-info" %>
 			</div>
			</div>
		<% end %>
	</div>
  </div>
</div>