 <div class="body-content">
  <div class="container-fluid main-content">
    <div class="row main-top">
      <div class="col-sm-6">
        <div>
          <%= attachment_image_tag @item, :item_image, :fill, 400, 400, fallback: "drink.png", size: '400x400' %>
        </div>
      </div>
      <div class="col-sm-6 item-box-show">
        <tr>
            <td class="breakall"><b><%=@item.title%></b></td>
          </tr>
       <table>
         <tbody>
          <tr>
            <td>味</td>
            <td>
           <div class="star-rating">
                <% if @average == nil %>
                    <div class="star-rating-front" style="width: 0%">★★★★★</div>
                <% elsif @average < 1.5 %>
                    <div class="star-rating-front" style="width: 20%">★★★★★</div>
                <% elsif @average < 2 %>
                    <div class="star-rating-front" style="width: 30%">★★★★★</div>
                <% elsif @average < 2.5 %>
                    <div class="star-rating-front" style="width: 40%">★★★★★</div>
                <% elsif @average < 3 %>
                    <div class="star-rating-front" style="width: 50%">★★★★★</div>
                <% elsif @average < 3.5 %>
                    <div class="star-rating-front" style="width: 60%">★★★★★</div>
                <% elsif @average < 4 %>
                    <div class="star-rating-front" style="width: 70%">★★★★★</div>
                <% elsif @average < 4.5 %>
                    <div class="star-rating-front" style="width: 80%">★★★★★</div>
                <% elsif @average < 5 %>
                    <div class="star-rating-front" style="width: 90%">★★★★★</div>
                <% else %>
                    <div class="star-rating-front">★★★★★</div>
                <% end %>
                    <%# 黒い★ %>
                    <div class="star-rating-back">★★★★★</div>
                </div>
            </div>
            </td>
          </tr>
          <tr>
            <td>香り</td>
            <td>
           <div class="star-rating">
                    <%# 黄色い★ 0.5きざみ %>
                <% if @average2 == nil %>
                    <div class="star-rating-front" style="width: 0%">★★★★★</div>
                <% elsif @average2 < 1.5 %>
                    <div class="star-rating-front" style="width: 20%">★★★★★</div>
                <% elsif @average2 < 2 %>
                    <div class="star-rating-front" style="width: 30%">★★★★★</div>
                <% elsif @average2 < 2.5 %>
                    <div class="star-rating-front" style="width: 40%">★★★★★</div>
                <% elsif @average2 < 3 %>
                    <div class="star-rating-front" style="width: 50%">★★★★★</div>
                <% elsif @average2 < 3.5 %>
                    <div class="star-rating-front" style="width: 60%">★★★★★</div>
                <% elsif @average2 < 4 %>
                    <div class="star-rating-front" style="width: 70%">★★★★★</div>
                <% elsif @average2 < 4.5 %>
                    <div class="star-rating-front" style="width: 80%">★★★★★</div>
                <% elsif @average2 < 5 %>
                    <div class="star-rating-front" style="width: 90%">★★★★★</div>
                <% else %>
                    <div class="star-rating-front">★★★★★</div>
                <% end %>
                    <%# 黒い★ %>
                    <div class="star-rating-back">★★★★★</div>
                </div>
            </div>
            </td>
          </tr>
          <tr>
            <td>値段</td>
            <td>
           <div class="star-rating">
                    <%# 黄色い★ 0.5きざみ %>
                <% if @average3 == nil %>
                    <div class="star-rating-front" style="width: 0%">★★★★★</div>
                <% elsif @average3 < 1.5 %>
                    <div class="star-rating-front" style="width: 20%">★★★★★</div>
                <% elsif @average3 < 2 %>
                    <div class="star-rating-front" style="width: 30%">★★★★★</div>
                <% elsif @average3 < 2.5 %>
                    <div class="star-rating-front" style="width: 40%">★★★★★</div>
                <% elsif @average3 < 3 %>
                    <div class="star-rating-front" style="width: 50%">★★★★★</div>
                <% elsif @average3 < 3.5 %>
                    <div class="star-rating-front" style="width: 60%">★★★★★</div>
                <% elsif @average3 < 4 %>
                    <div class="star-rating-front" style="width: 70%">★★★★★</div>
                <% elsif @average3 < 4.5 %>
                    <div class="star-rating-front" style="width: 80%">★★★★★</div>
                <% elsif @average3 < 5 %>
                    <div class="star-rating-front" style="width: 90%">★★★★★</div>
                <% else %>
                    <div class="star-rating-front">★★★★★</div>
                <% end %>
                    <%# 黒い★ %>
                    <div class="star-rating-back">★★★★★</div>
                </div>
            </div>
            </td>
          </tr>
          <tr>
            <td>独特性</td>
            <td>
           <div class="star-rating">
                    <%# 黄色い★ 0.5きざみ %>
                <% if @average4 == nil %>
                    <div class="star-rating-front" style="width: 0%">★★★★★</div>
                <% elsif @average4 < 1.5 %>
                    <div class="star-rating-front" style="width: 20%">★★★★★</div>
                <% elsif @average4 < 2 %>
                    <div class="star-rating-front" style="width: 30%">★★★★★</div>
                <% elsif @average4 < 2.5 %>
                    <div class="star-rating-front" style="width: 40%">★★★★★</div>
                <% elsif @average4 < 3 %>
                    <div class="star-rating-front" style="width: 50%">★★★★★</div>
                <% elsif @average4 < 3.5 %>
                    <div class="star-rating-front" style="width: 60%">★★★★★</div>
                <% elsif @average4 < 4 %>
                    <div class="star-rating-front" style="width: 70%">★★★★★</div>
                <% elsif @average4 < 4.5 %>
                    <div class="star-rating-front" style="width: 80%">★★★★★</div>
                <% elsif @average4 < 5 %>
                    <div class="star-rating-front" style="width: 90%">★★★★★</div>
                <% else %>
                    <div class="star-rating-front">★★★★★</div>
                <% end %>
                    <%# 黒い★ %>
                    <div class="star-rating-back">★★★★★</div>
                </div>
            </div>
            </td>
          </tr>
           <tr>
            <td>満足度</td>
            <td>
           <div class="star-rating-top">
                    <%# 黄色い★ 0.5きざみ %>
                <% if @average5 == nil %>
                    <div class="star-rating-front-top" style="width: 0%">★★★★★</div>
                <% elsif @average5 < 1.5 %>
                    <div class="star-rating-front-top" style="width: 20%">★★★★★</div>
                <% elsif @average5 < 2 %>
                    <div class="star-rating-front-top" style="width: 30%">★★★★★</div>
                <% elsif @average5 < 2.5 %>
                    <div class="star-rating-front-top" style="width: 40%">★★★★★</div>
                <% elsif @average5 < 3 %>
                    <div class="star-rating-front-top" style="width: 50%">★★★★★</div>
                <% elsif @average5 < 3.5 %>
                    <div class="star-rating-front-top" style="width: 60%">★★★★★</div>
                <% elsif @average5 < 4 %>
                    <div class="star-rating-front-top" style="width: 70%">★★★★★</div>
                <% elsif @average5 < 4.5 %>
                    <div class="star-rating-front-top" style="width: 80%">★★★★★</div>
                <% elsif @average5 < 5 %>
                    <div class="star-rating-front-top" style="width: 90%">★★★★★</div>
                <% else %>
                    <div class="star-rating-front-top">★★★★★</div>
                <% end %>
                    <%# 黒い★ %>
                    <div class="star-rating-back">★★★★★</div>
                </div>
            </div>
            </td>
          </tr>
          <tr>
          <td><span id="iine-of-<%= @item.id %>">
              <%= render partial: 'iines/iine', locals: { item: @item, iines: @iines } %>
          </span></td>
          <td><%= link_to "レビュー投稿を行う!",new_item_review_path(@item), class:"btn btn-success btn-lg"%></td>
          </tr>
             </tbody>
        </table><br>
        <div>
         <% if admin_signed_in? %>
                <tr>
                 <td><%= link_to "編集画面へ移動",edit_item_path(@item), class:"btn btn-default btn-lg"%></td>
                </tr>
                <% end %>
        </div>
       </div>
     </div>
    </div><br>
    <h2 class="h2">飲み物詳細</h2><br>
    <div class="row main-bottom">
      <div class="col-sm-6 left-box">
        <table class="table table-striped table-bordered">
          <tbody>
          	<tr>
              <td>メーカー</td>
              <td><%= @item.maker.maker_name %></td>
            </tr>
            <tr>
              <td>飲み物カテゴリ</td>
              <td><%= @item.category.category_name %></td>
            </tr>
            <tr>
              <td>発売日</td>
              <td><%= @item.age %></td>
            </tr>
            <tr>
              <td>参考価格(1本あたり)</td>
              <td>¥<%= @item.price %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-6 right-box">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <td>飲み物説明</td>
            </tr>
            <tr>
              <td class="breakall"><%= simple_format(h(@item.comment)) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> 
    <h2 class="h2">飲み物レビュー(最新３件)</h2><br>
     <div class="review-index">
      <% @reviews.each do |review| %>
      <table>
        <tbody>
          <tr class="review-name">
            <td><b><%= link_to review.user.name, user_path(review.user.id) %></b></td>
          </tr>
          <tr>
            <td>
           <div class="star-rating-show">
                <% if review.star5 < 1.5 %>
                    <div class="star-rating-front-show" style="width: 20%">★★★★★</div>
                <% elsif review.star5 < 2 %>
                    <div class="star-rating-front-show" style="width: 30%">★★★★★</div>
                <% elsif review.star5 < 2.5 %>
                    <div class="star-rating-front-show" style="width: 40%">★★★★★</div>
                <% elsif review.star5 < 3 %>
                    <div class="star-rating-front-show" style="width: 50%">★★★★★</div>
                <% elsif review.star5 < 3.5 %>
                    <div class="star-rating-front-show" style="width: 60%">★★★★★</div>
                <% elsif review.star5 < 4 %>
                    <div class="star-rating-front-show" style="width: 70%">★★★★★</div>
                <% elsif review.star5 < 4.5 %>
                    <div class="star-rating-front-show" style="width: 80%">★★★★★</div>
                <% elsif review.star5 < 5 %>
                    <div class="star-rating-front-show" style="width: 90%">★★★★★</div>
                <% else %>
                    <div class="star-rating-front-show">★★★★★</div>
                <% end %>
                    <%# 黒い★ %>
                    <div class="star-rating-back">★★★★★</div>
            </div>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="review-review"><%= review.item_review %></p>
      <% end %>
    </div>
     <h3><%=link_to "この飲み物のレビューを全て見る",item_reviews_path(@item) %></h3>
  </div>
</div>