<div class="body-content">
  <div class="container-fluid main-content">
    <h2 class="h2">レビュー投稿</h2>
    <div class="row">
        <%= form_for [@item,@review] do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <div class="col-md-6 col-md-offset-3">
        <h3><%= @item.title%></h3>
        <p><%= attachment_image_tag @item, :item_image, :fill, 208, 208, fallback: "noimage.png", size: '208x208' %></p>
          <div class="field" id="star">
            <%= f.label :star,"美味しさ" %>
            <%= f.hidden_field :star, id: :review_star %>
          </div>
          <div class="field" id="star2">
            <%= f.label :star2,"コスパ" %>
            <%= f.hidden_field :star2, id: :review_star2 %>
          </div>
          <div class="field" id="star3">
            <%= f.label :star3,"入手難度" %>
            <%= f.hidden_field :star3, id: :review_star3 %>
          </div>
           <div class="field" id="star4">
            <%= f.label :star4,"独特性" %>
            <%= f.hidden_field :star4, id: :review_star4 %>
          </div>
           <div class="field" id="star5">
            <%= f.label :star5,"評価" %>
            <%= f.hidden_field :star5, id: :review_star5 %>
          </div>

          <%= f.text_area :item_review, :class => "form-control", :size => "50x20"  %><br>
          <%= f.submit "レビュー評価", :class => "btn btn-primary" %>
        </div>
    </div>
  </div>
</div>




<% end %>

<script>
$('#star').raty({
  size     : 90,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[star]' 
});
</script>
<script>
$('#star2').raty({
  size     : 90,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[star2]' 
});
</script>
<script>
$('#star3').raty({
  size     : 90,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[star3]' 
});
</script>
<script>
$('#star4').raty({
  size     : 90,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[star4]' 
});
</script>
<script>
$('#star5').raty({
  size     : 90,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[star5]' 
});
</script>